.formparent {
    padding: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitbtn {
    color: white;
    background-color: #00AFBD;
    padding: 10px 20px;
    border-radius: 50px;
    outline: none;
    border: solid 1px #00AFBD;
}